.DS_Store
*.cabal
.stack-work/
stack.yaml.lock
*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.loa
*.lof
*.log
*.lol
*.lot
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*~
*.exe

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.vscode/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

Test.hs
